{
    "gke_cluster_1": {
        "platform": "gcloud",
        "name": "gke_cluster_1",
        "auth": {
            "cluster_name": "test-cluster",
            "project_id": "GCLOUD_PROJECT_ID",
            "zone": "GCLOUD_GKE_ZONE",
            "key_file": "iam-key.json"
        }
    },
    "aws_cluster_1": {
        "platform": "aws",
        "name": "aws_cluster_1",
        "context": "aws-cluster-1.k8s.local",
        "auth": {
            "aws_default_region": "",
            "aws_access_key_id": "",
            "aws_secret_access_key": ""
        }
    }
    "minikube": {
        "platform": "minikube",
        "name": "minikube"
    }
}
